.categoriesList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 45px;
}

.categoriesItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #111111;
}