.navList {
  margin-top: 45px;
  display: flex;
  margin-bottom: 50px;
}

.navItem {
  padding: 0 5px;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: #3F4E65;
  border-right: 1px dashed rgba(63, 78, 101, .3);

  &:last-child {
    border: none;
    opacity: 0.5;
  }
}

.sectorTitle {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 25px;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #111111;
}


