@import '../../vars.scss';
.upline {
  border-bottom: 1px solid rgba(63, 78, 101, .2);
}

.uplineBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-top: 14px;
  padding-bottom: 14px;

  @include laptop {
    justify-content: center;
  }

  @include tablet {
    display: none;
  }
}

.contacts {
  display: flex;
  gap: 20px;
  color: #111111;
}

.icon {
  width: 15px;
  height: 15px;
  // border: 1px solid black;
}

.downline {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(63, 78, 101, .2);

  @include tablet {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.downlineBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: -webkit-fill-available;
  width: fill-available;

    @include tablet {
      display: grid;
      grid-template-areas: 
      'menu . logo . cart'
      '. catalog . search .'
      ;
    }
}


.userService {
  display: flex;
  gap: 50px;
  color: #3F4E65;
}

.imgContainer {
  width: 70px;
  height: 59px;
  position: relative;
}

.img {
  position: absolute;
  max-height: 92px;
  bottom: -8px;
}

.nav {
  // justify-content: flex-end;
}

.sandwichBtn {
  display: none;

  @include tablet {
    display: block;
    grid-area: menu;
    
  }
}