.btn {
  background: #FFC85E;
  border-radius: 79px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 21px 44px;
  gap: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  // min-width: 192px;
  max-height: 59px;
  cursor: pointer;
}