@import '../../../vars.scss';

.btn {
  background-color: #FFC85E;
  border-radius: 79px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 21px 22px;
  gap: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  flex-wrap: nowrap;
  min-width: 192px;
  cursor: pointer;

  
}

.btnCatalog {
  @include tablet {
    background-color: transparent;
    color: #3F4E65;
    flex-direction: row-reverse;
    align-items: center;
    grid-area: catalog;
    min-width: none;
  }
}

.price{
  @include laptop {
      display: none;
    }
}

.text {
  @include tablet {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  }
}